<%- include('../partials/header') %> 
<script>
    document.title = `Verafied™ - Editing <%= person.firstName %>'s Profile` 
    </script><div id="questionnaire">
    <h1>Now Editing: <%= person.firstName %> <%= person.lastName %>'s profile</h1>
    
    
    <form id="questionnaire-form" action="/people/<%= person._id %>?_method=PUT" method="POST">
        
        
        <!-- STRING INPUT -->
        <div class="question-category" id="basic-info">
            <h2 class="question-category-title">Basic Info</h2>
            <div>
                <label for="firstName" >
                    <p>First Name</p>
                    <input type="text" name="firstName" placeholder="First Name" value="<%= person.firstName %>" required>
                </label>
            </div>
            <div>
                <label for="lastName" >
                    <p>Last Name</p>
                    <input type="text" name="lastName" placeholder="Last Name" value="<%= person.lastName %>" required>
                </label>
            </div>
                    <!-- DATE -->
            <!-- <div>
            <label for="birthday" >
                <p>Birthday</p>
                <input type="date" min="1903-01-02" max="2004-01-01" name="birthday" placeholder="<5>"  value="<%= person.birthday %>" required>
            </label>
            </div> -->
                    <!-- Gender shouldnt change this -->
        <!-- <div id="gender-container">
            <label for="Male"> <p>Male</p>
            <input type="radio" name="gender" id="Male" value="Male"></label>
            <label for="Female"><p>Female</p>
            <input type="radio" name="gender" id="Female" value="Female"></label>
            <label for="Other"><p>Other</p>
            <input type="radio" name="gender" id="Other" value="Other"></label>
        </div> -->
        <div>
            <label for="height" >
                <p>Height</p>
                <input type="text" name="height" placeholder="5'11, 6'1, etc." value="<%= person.height %>" required>
            </label>
        </div>
        <div>
            <label for="bodyType">
                <p>Body Type:</p>
            <select name="bodyType">
                <option value="<%= person.bodyType %>"  selected><%= person.bodyType %></option>
              <option value="Slim">Slim</option>
              <option value="Average">Average</option>
              <option value="Athletic">Athletic</option>
              <option value="Curvy">Curvy</option>
              <option value="A Little Extra">A Little Extra</option>
              <option value="Tons of Fun-more to love">Tons of Fun-more to love</option>
            </select>
        </label>
        </div>
<!-- Seeking -->
<div>
    <label for="seeking">
        <p>Seeking:</p>
    <select name="seeking">
        <option  value="<%= person.seeking %>" selected><%= person.seeking %></option>
      <option value="Men">Men</option>
      <option value="Women">Women</option>
      <option value="Both">Both</option>
    </select>
</label>
</div>
<!-- ageRange -->
<div>
    <label for="ageRange">
        <p>Ideal Partner Age:</p>
    <select name="ageRange">
        <option value="<%= person.ageRange %>"  selected><%= person.ageRange %></option>
      <option value="20-25">20-25</option>
      <option value="25-30">25-30</option>
      <option value="30-35">30-35</option>
      <option value="35-40">35-40</option>
      <option value="40-45">40-45</option>
      <option value="45-50">45-50</option>
      <option value="50-55">50-55</option>
      <option value="60-65">60-65</option>
    </select>
</label>
</div>
        <!-- Originally From? -->
        <div>
            <label for="originallyFrom" >
                <p>Originally From?</p>
                <input type="text" name="originallyFrom" value="<%= person.originallyFrom %>" placeholder="<%= person.originallyFrom %>">
            </label>
        </div>
        <div>
            <label for="areaOfTown">
                <p>Your Area of Town?</p>
            <select name="areaOfTown">
                <option value="<%= person.areaOfTown %>" selected><%= person.areaOfTown %></option>
                <option value="Henderson">Henderson</option>
                <option value="Summerlin">Summerlin</option>
                <option value="North Las Vegas">North Las Vegas</option>
                <option value="Southern Highlands">Southern Highlands</option>
                <option value="Other">Other</option>
                </select>
                </label>
        </div>
        
    </div>
    <div class="question-category">
        <h2 class="question-category-title">Contact</h2>
        <div>
            <label for="phoneNumber" >
                <p>Phone Number</p>
                <input type="text" value="<%= person.phoneNumber %>" name="phoneNumber" placeholder="(702) 555-2211">
            </label>
        </div>
        <div>
            <label for="clientEmail" >
                <p>Email Address</p>
                <input class="email-input" value="<%= person.clientEmail %>" type="email" name="clientEmail" placeholder="john@gmail.com">
            </label>
        </div>
    </div>
    <div class="question-category">
        <h2 class="question-category-title">Verafied Logistics</h2>
        <div>
            <label for="relationshipGoal">
                <p>What are you looking for in a relationship?</p>
            <select name="relationshipGoal">
                <option value="<%= person.relationshipGoal %>"  selected><%= person.relationshipGoal %></option>
                <option value="Serious Relationship">Serious Relationship</option>
                <option value="Friend">Friend</option>
                <option value="Friends With Benefits">Friends With Benefits</option>
                <option value="Something Casual">Something Casual</option>
                <option value="I Don't Know">I Don't Know</option>
            </select>
        </label>
        </div>
        <div>
            <label for="verafiedJoinReason" >
                <p>Why did you join Verafied?</p>
                <textarea  name="verafiedJoinReason"  rows="4" cols="100" placeholder="Enter Response"><%= person.verafiedJoinReason %></textarea>
            </label>
        </div>

        <div>
            <label for="mixers">
                <p>Are you interested in doing meetups/mixers?</p>
            <select name="mixers">
                <option value="<%= person.mixers %>" selected><%= person.mixers %></option>
              <option value="Yes">Yes</option>
              <option value="No">No</option>

            </select>
        </label>
        </div>
        <div>
            <label for="verafiedSuggestions" >
                <p>What other services would you like to see Verafied offer?</p>
                <textarea  name="verafiedSuggestions"  rows="4" cols="100" placeholder="Enter Response"><%= person.verafiedSuggestions %></textarea>
            </label>
        </div>
        <div>
            <label for="selfEsteem" >
                <p>Give me insight into your self-esteem. How do you feel about yourself?</p>
                <textarea  name="selfEsteem"  rows="4" cols="100" placeholder="Enter Response"><%= person.selfEsteem %></textarea>
            </label>
        </div>
    </div>
<div class="question-category">
    <h2 class="question-category-title">Family</h2>
    <div>
        <label for="siblings" >
            <p>Do you have siblings? If so, how many?</p>
            <textarea  name="siblings"  rows="4" cols="100" placeholder="Yes, I have one brother/ No, I'm an only child"><%= person.siblings %></textarea>
        </label>
    </div>
    <div>
        <label for="familyInVegas" >
            <p>Do you have family/friends here in Vegas? How often do you see them?</p>
            <textarea  name="familyInVegas"  rows="4" cols="100" placeholder="Enter Response"><%= person.familyInVegas %></textarea>
        </label>
    </div>
    <div>
        <label for="familyCloseness" >
            <p>How close are you with your family? Do you typically introduce your partner to friends/family/coworkers early on?</p>
            <textarea  name="familyCloseness"  rows="4" cols="100" placeholder="Enter Response"><%= person.familyCloseness %></textarea>
        </label>
    </div>
</div>


<div class="question-category">
<h2 class="question-category-title">Religion, Politics, Ethnicity</h2>

        <!-- Ethnicity -->
<div>
    <label for="ethnicity">
        <p>Ethnicity</p>
    <select name="ethnicity">
        <option value="<%= person.ethnicity %>"  selected><%= person.ethnicity %></option>
        <option value="White">White</option>
        <option value="Black">Black</option>
        <option value="Asian">Asian</option>
        <option value="Hispanic">Hispanic</option>
        <option value="Middle-Eastern">Middle-Eastern</option>
        <option value="Pacific Islander">Pacific Islander</option>
        <option value="Mixed">Mixed</option>
        <option value="Prefer Not To Answer">Prefer Not To Answer</option>
    </select>
</label>
</div>

<!-- Religion -->
<div>
    <label for="religion">
        <p>Religion</p>
    <select name="religion">
        <option value="<%= person.religion %>"  selected><%= person.religion %></option>
        <option value="Atheist">Atheist</option>
        <option value="Christian">Christian</option>
        <option value="Catholic">Catholic</option>
        <option value="Jewish">Jewish</option>
        <option value="Buddhist">Buddhist</option>
        <option value="Mormon">Mormon</option>
        <option value="Islamic">Islamic</option>
        <option value="Spiritual">Spiritual</option>
        <option value="Agnostic">Agnostic</option>
    </select>
</label>
</div>
<!-- Politics -->
<div>
    <label for="politics">
        <p>Political Views?</p>
    <select name="politics">
        <option value="<%= person.politics %>" selected><%= person.politics %></option>
        <option value="Not Political">Not Political</option>
        <option value="Liberal">Liberal</option>
        <option value="Conservative">Conservative</option>
        <option value="Moderate">Moderate</option>
        <option value="Prefer Not to Answer">Prefer Not to Answer</option>

    </select>
</label>
</div>
</div>
<!-- <div class="multi-answer-container">
    <div class="multi-row-container">
    <p>Desired Partner Ethnicity:</p>
    <div class="multi-row">
    <label for="partnerEthnicity"><p>Open</p><input type="checkbox" name="partnerEthnicity" value="Open"></label>    
    <label for="partnerEthnicity"><p>White</p><input type="checkbox" name="partnerEthnicity" value="White"></label>     
    <label for="partnerEthnicity"><p>Black</p><input type="checkbox" name="partnerEthnicity" value="Black"></label>     
    <label for="partnerEthnicity"><p>Asian</p><input type="checkbox" name="partnerEthnicity" value="Asian"></label>    
    <label for="partnerEthnicity"><p>Hispanic</p><input type="checkbox" name="partnerEthnicity" value="Hispanic"></label>      
    <label for="partnerEthnicity"><p>Middle-Eastern</p><input type="checkbox" name="partnerEthnicity" value="Middle-Eastern"></label>    
    <label for="partnerEthnicity"><p>Pacific Islander</p><input type="checkbox" name="partnerEthnicity" value="Pacific Islander"></label>      
    <label for="partnerEthnicity"><p>Mixed</p><input type="checkbox" name="partnerEthnicity" value="Mixed"></label>     
</div> -->
        
<div class="question-category">
 <!-- Children -->
 <h2 class="question-category-title">Children & Previous Marriages</h2>
 <!-- Prev MArriage -->
 <div>
    <label for="prevMarried">
        <p>Have you been married before?</p>
    <select name="prevMarried">
        <option value="<%= person.prevMarried %>" selected><%= person.prevMarried %></option>
        <option value="No">No</option>
        <option value="Once">Yes, once</option>
        <option value="Twice">Yes, twice</option>
        <option value="Three or More times">Yes, three or more times</option>
        
    </select>
</label>
</div>

 <div>
    <label for="children">
        <p>Do You Have Children?</p>
    <select name="children">
        <option value="<%= person.children %>"  selected><%= person.children %></option>
        <option value="Yes">Yes</option>
        <option value="No">No</option>
        <option value="Unable to Have Children">Unable to Have Children</option>
        <option value="Yes, and I want More">Yes, and I want More</option>
        <option value="Yes, and I Don't want More">Yes, and I Don't want More</option>
        
    </select>
</label>
</div>
<div>
    <label for="wantChildren">
        <p>Do You Want Children?</p>
    <select name="wantChildren">
        <option value="<%= person.wantChildren %>"  selected><%= person.wantChildren %></option>
        <option value="Yes">Yes, I want Children</option>
        <option value="No">No, I don't want Children</option>
    </select>
</label>
</div>
<div>
    <label for="stepParent">
        <p>Willing to be a Step Parent?</p>
    <select name="stepParent">
        <option value="<%= person.stepParent %>" selected><%= person.stepParent %></option>
        <option value="Yes">Yes</option>
        <option value="No">No</option>
        <option value="Depends On the situation">Depends On the situation</option>
    </select>
</label>
</div>
</div>


<div class="question-category">
    <h2 class="question-category-title">Vices & Body Art</h2>
  <!-- Tattoos -->
<div>
    <label for="tattoos">
        <p>Tattoos?</p>
    <select name="tattoos">
        <option value="<%= person.tattoos %>"  selected><%= person.tattoos %></option>
      <option value="Yes">Yes, I have Tattoos</option>
      <option value="No">No, I have no Tattoos</option>

    </select>
</label>  
</div>
<div>
    <label for="totalTattoos">
        <p>How many do you have?</p>
        <input type="number" name="totalTattoos" placeholder="# of Tattoos" value="<%= person.totalTattoos %>">
</label>
</div>
    <!-- Partner Tattoos -->
    <div>
        <label for="partnerTattoos">
            <p>Partner Tattoos?</p>
        <select name="partnerTattoos">
            <option value="<%= person.partnerTattoos %>" selected><%= person.partnerTattoos %></option>
          <option value="Yes">Yes, I'm okay with them</option>
          <option value="No">No, I'm not okay with them</option>
    
        </select>
    </label>
</div>
<!-- <div class="multi-answer-container">
    <label for="tattooPlaces"><p>Face</p><input type="checkbox" name="tattooPlaces" value="Face"></label>     
    <label for="tattooPlaces"><p>Neck</p><input type="checkbox" name="tattooPlaces" value="Neck"></label>     
    <label for="tattooPlaces"><p>Shoulder(s)</p><input type="checkbox" name="tattooPlaces" value="Shoulders"></label>    
    <label for="tattooPlaces"><p>Hand(s)</p><input type="checkbox" name="tattooPlaces" value="Hands"></label>      
    <label for="tattooPlaces"><p>Arm(s)</p><input type="checkbox" name="tattooPlaces" value="Arms"></label>    
    <label for="tattooPlaces"><p>Leg(s)</p><input type="checkbox" name="tattooPlaces" value="Legs"></label>      
    <label for="tattooPlaces"><p>Foot/Feet</p><input type="checkbox" name="tattooPlaces" value="Feet"></label>     
    <label for="tattooPlaces"><p>Back</p><input type="checkbox" name="tattooPlaces" value="Back"></label>    
    <label for="tattooPlaces"><p>Stomach</p><input type="checkbox" name="tattooPlaces" value="Stomach"></label>
</div> -->

<!-- Piercings -->
<div>
    <label for="piercings">
        <p>Piercings?</p>
    <select name="piercings">
        <option value="<%= person.piercings %>"  selected><%= person.piercings %></option>
      <option value="Yes">Yes, I have Piercings</option>
      <option value="No">No, I have no Piercings</option>

    </select>
</label>
     <!-- <div class="multi-answer-container">

         <label for="piercingPlaces"><p>Ear(s)</p><input type="checkbox" name="piercingPlaces" value="Ears">     </label>
         <label for="piercingPlaces"><p>Nose</p><input type="checkbox" name="piercingPlaces" value="Nose">   </label> 
         <label for="piercingPlaces"><p>Tongue</p><input type="checkbox" name="piercingPlaces" value="Tongue">    </label>
         <label for="piercingPlaces"><p>Eyebrow(s)</p><input type="checkbox" name="piercingPlaces" value="Eyebrow">   </label>  
         <label for="piercingPlaces"><p>Lip</p><input type="checkbox" name="piercingPlaces" value="Lip">    </label>
         <label for="piercingPlaces"><p>Privates</p><input type="checkbox" name="piercingPlaces" value="Privates">   </label>  
     </div> -->
         

    </div>
    <div>
        <label for="totalPiercings">
            <p>How many do you have?</p>
            <input type="number" name="totalPiercings" placeholder="# of Piercings" value="<%= person.totalPiercings %>">
    </label>
    </div>
<!-- Partner piercings -->
<div>
    <label for="partnerPiercings">
        <p>Partner Piercings?</p>
    <select name="partnerPiercings">
        <option value="<%= person.partnerPiercings %>"  selected><%= person.partnerPiercings %></option>
      <option value="Yes">Yes, I'm okay with them</option>
      <option value="No">No, I'm not okay with them</option>

    </select>
</label>
</div>
<!-- Alcohol -->
<div>
    <label for="alcoholUse">
        <p>Alcohol Consumption</p>
    <select name="alcoholUse">
        <option value="<%= person.alcoholUse %>"  selected><%= person.alcoholUse %></option>
      <option value="Never">I don't Drink Alcohol</option>
      <option value="Infrequently">Once in a While</option>
      <option value="Occasionally">Occasionally</option>
      <option value="Socially">Socially</option>
      <option value="Often">Often</option>
      <option value="Excessively">Excessively</option>
    </select>
</label>
</div>
<!-- Cigarette -->
<div>
    <label for="cigaretteUse">
        <p>Cigarette Use</p>
    <select name="cigaretteUse">
        <option value="<%= person.cigaretteUse %>" selected><%= person.cigaretteUse %></option>
      <option value="Never">I don't Smoke</option>
      <option value="Infrequently">Once in a While</option>
      <option value="Occasionally">Occasionally</option>
      <option value="Socially">Socially</option>
      <option value="Often">Often</option>
      <option value="Excessively">Excessively</option>
    </select>
</label>
</div>
<!-- Marijuana -->
<div>
    <label for="marijuanaUse">
        <p>Marijuana Usage</p>
    <select name="marijuanaUse">
        <option value="<%= person.marijuanaUse %>"  selected><%= person.marijuanaUse %></option>
        <option value="Never">I don't Use Marijuana</option>
        <option value="Infrequently">Once in a While</option>
        <option value="Occasionally">Occasionally</option>
        <option value="Socially">Socially</option>
        <option value="Often">Often</option>
        <option value="Excessively">Excessively</option>
    </select>
</label>
<!-- </div>
<div class="multi-answer-container">
    <div class="multi-row-container">
    <p>How do you use Marijuana:</p>
    <div class="multi-row">
    <label for="marijuanaTypes"><p>Smoking</p><input type="checkbox" name="marijuanaTypes" value="Smoking"></label>    
    <label for="marijuanaTypes"><p>Edibles</p><input type="checkbox" name="marijuanaTypes" value="Edibles"></label>     
    <label for="marijuanaTypes"><p>CBD</p><input type="checkbox" name="marijuanaTypes" value="CBD"></label>     
    <label for="marijuanaTypes"><p>Oils</p><input type="checkbox" name="marijuanaTypes" value="Oils"></label>    
         
</div> -->
</div>
</div>   
<div class="question-category">
    <h2 class="question-category-title">Top 3 Hobbies</h2>
    <!-- Hobbies -->
    <div>
        <label for="hobbies1" >
            <p>Hobby 1</p>
            <input type="text" value="<%= person.hobbies1 %>" name="hobbies1" placeholder="Enter a Hobby"  >
        </label>
    </div>
    <div>
        <label for="hobbies2" >
            <p>Hobby 2</p>
            <input type="text" value="<%= person.hobbies2 %>" name="hobbies2" placeholder="Enter a Hobby"  >
        </label>
    </div>
    <div>
        <label for="hobbies3" >
            <p>Hobby 3</p>
            <input type="text" value="<%= person.hobbies3 %>" name="hobbies3" placeholder="Enter a Hobby" >
        </label>
    </div>
</div> 

<div class="question-category">
    <h2 class="question-category-title">Military</h2>
<!-- Military -->
<div>
    <label for="military">
        <p>Were you in the Military?</p>
    <select name="military">
        <option value="<%= person.military %>" selected><%= person.military %></option>
        <option value="Yes">Yes</option>
        <option value="No">No</option>
        

    </select>
</label>
</div>
<!-- Military Branch -->
<div>
    <label for="militaryBranch">
        <p>Branch of Service?</p>
    <select name="militaryBranch">
        <option value="<%= person.militaryBranch %>" selected><%= person.militaryBranch %></option>
        <option value="Army">Army</option>
        <option value="Marines">Marines</option>
        <option value="Navy">Navy</option>
        <option value="Air Force">Air Force</option>
    </select>
</label>
</div>
<!-- Partner Military -->
<div>
    <label for="partnerMilitary">
        <p>Preference for partner's Military Experience?</p>
    <select name="partnerMilitary">
        <option value="<%= person.partnerMilitary %>"  selected><%= person.partnerMilitary %></option>
        <option value="No Preference">No Preference</option>
        <option value="Apartment">Prefer they were Military</option>
        <option value="Prefer they did not serve">Prefer they did not serve</option>
    </select>
</label>
</div>

</div>

<div class="question-category">
    <h2 class="question-category-title">Modern Entertainment</h2>
    <!-- Social Media -->
    <div>
        <label for="socialMedia">
            <p>Social Media Usage?</p>
        <select name="socialMedia">
            <option value="<%= person.socialMedia %>" selected><%= person.socialMedia %></option>
        <option value="Never">Never</option>
        <option value="Rarely">Rarely</option>
        <option value="Occasionally">Occasionally</option>
        <option value="Daily">Daily</option>

        </select>
    </label>
    </div>
    <!-- TV -->
    <div>
        <label for="tv">
            <p>How Often do you watch TV?</p>
        <select name="tv">
            <option value="<%= person.tv %>"  selected><%= person.tv %></option>
            <option value="Rarely">Rarely</option>
            <option value="Occasionally">Occasionally</option>
            <option value="Frequently">Frequently</option>
            
        </select>
    </label>
    
    </div>
     <!-- Movies -->
     <div>
        <label for="movies">
            <p>How Often do you watch Movies?</p>
        <select name="movies">
            <option value="<%= person.movies %>" selected><%= person.movies %></option>
            <option value="Rarely">A Few Times a Year</option>
            <option value="Occasionally">A Few Times a Month</option>
            <option value="Frequently">A Few Times a Week</option>
            
        </select>
    </label>
</div>
    <div>
    <label for="favMovieGenre">
        <p>Favorite Movie Genre?</p>    
        <select name="favMovieGenre">
            <option value="<%= person.favMovieGenre %>"  selected><%= person.favMovieGenre %></option>
            <option value="Sci-Fi">Sci-Fi</option>
            <option value="Action">Action</option>
            <option value="Reality">Reality</option>
            <option value="Drama">Drama</option>
            <option value="Comedy">Comedy</option>

            
        </select>
    </label>     
    </div>
<!-- Gamer-->
<div>
<label for="gamer">
    <p>Are you a Gamer?</p>
<select name="gamer">
    <option value="<%= person.gamer %>"  selected><%= person.gamer %></option>
    <option value="Yes">Yes</option>
    <option value="No">No</option>

</select>
</label>
</div>
<div>
<label for="favGameGenre" >
    <p>Fav Game Genre?</p>
    <select name="favGameGenre">
        <option value="<%= person.favGameGenre %>" selected><%= person.favGameGenre %></option>
        <option value="Action">Action</option>
        <option value="RPG">RPG</option>
        <option value="FPS">FPS</option>
        <option value="MMO">MMO</option>
        <option value="Casual">Casual</option>

        
    </select>
</label>



</div>
</div>



<div class="question-category">
    <h2 class="question-category-title">Traditional Entertainment</h2>
<!-- Exercise -->
<div>
    <label for="exercise">
        <p>Do you Exercise?</p>
    <select name="exercise">
        <option value="<%= person.exercise %>"  selected><%= person.exercise %></option>
      <option value="Never">Never / Almost Never</option>
      <option value="Monthly">A Few Times a Month</option>
      <option value="Weekly">1-2 Times a Week</option>
      <option value="Often">3-4 Times a Week</option>
      <option value="Very Often">5-7 Times a Week</option>
    </select>
    </label>
    </div>
    <!-- Outdoorsy-->
    <div>
        <label for="outdoorsy">
            <p>Outdoorsy?</p>
        <select name="outdoorsy">
            <option value="<%= person.outdoorsy %>" selected><%= person.outdoorsy %></option>
            <option value="Yes">Yes</option>
            <option value="No">No</option>

        </select>
    </label>
    </div>
    <div>
        <label for="outdoorActivities" >
            <p>Fav Outdoor Activity?</p>
            <input type="text" name="outdoorActivities" value="<%= person.outdoorActivities %>" placeholder="Enter Activities">
        </label>

    </div>
<!-- Books -->
<div>
    <label for="books">
        <p>Do you read Books?</p>
    <select name="books">
        <option value="<%= person.books %>" selected><%= person.books %></option>
        <option value="Yes">Yes</option>
        <option value="No">No</option>
        
    </select>
</label>

</div>
</div>
<div class="question-category">
    <h2 class="question-category-title">Travel</h2>
    <div>
        <label for="likeTravel">
            <p>Do you like travelling?</p>
        <select name="likeTravel">
            <option value="<%= person.likeTravel %>" selected><%= person.likeTravel %></option>
            <option value="Yes">Yes</option>
            <option value="No">No</option>
            
        </select>
    </label>
    </div>
    <div>
        <label for="travelledOutsideUS">
            <p>Have you been Outside the US?</p>
        <select name="travelledOutsideUS">
            <option value="<%= person.travelledOutsideUS %>" selected><%= person.travelledOutsideUS %></option>
            <option value="Yes">Yes</option>
            <option value="No">No</option>
            
        </select>
    </label>
    </div>
    
    <!-- <div class="multi-answer-container multi-row">
        <p>Seen:</p>
        <label for="travelledTo"><p>N. America</p><input type="checkbox" name="travelledTo" value="North America"></label>     
        <label for="travelledTo"><p>S. America</p><input type="checkbox" name="travelledTo" value="South America"></label>     
        <label for="travelledTo"><p>Europe</p><input type="checkbox" name="travelledTo" value="Europe"></label>    
        <label for="travelledTo"><p>Asia</p><input type="checkbox" name="travelledTo" value="Asia"></label>    
        <label for="travelledTo"><p>Africa</p><input type="checkbox" name="travelledTo" value="Africa"></label>    
        <label for="travelledTo"><p>Antarctica</p><input type="checkbox" name="travelledTo" value="Antarctica"></label>    
    </div> -->
</div>
<div class="question-category">
    <h2 class="question-category-title">Living Situation & Pets</h2>

             <!-- Pets -->
             <div>
                <label for="pets">
                    <p>Do you have Pets?</p>
                <select name="pets">
                    <option value="<%= person.pets %>"  selected><%= person.pets %></option>
                    <option value="Yes">Yes</option>
                    <option value="No">No</option>
                    
                </select>
            </label>
            <!-- <div class="multi-answer-container multi-row">
                <label for="petTypes"><p>Dogs</p><input type="checkbox" name="petTypes" value="Dogs"></label>     
                <label for="petTypes"><p>Cats</p><input type="checkbox" name="petTypes" value="Cats"></label>     
                <label for="petTypes"><p>Birds</p><input type="checkbox" name="petTypes" value="Birds"></label>    
                <label for="petTypes"><p>Reptiles</p><input type="checkbox" name="petTypes" value="Reptiles"></label>    
                <label for="petTypes"><p>Other</p><input type="checkbox" name="petTypes" value="Other"></label>    
            
            </div> -->
            </div>
<!-- Living Situation -->
<div>
    <label for="partnerPets" >
        <p>Are you okay with your partner having pets? Do you have any allergies?</p>
        <textarea  name="partnerPets"  rows="4" cols="100" placeholder="Yes, I'm okay with everything except birds/ No, I'm allergic to dogs."><%= person.partnerPets %></textarea>
    </label>
</div>
<div>
    <label for="livingSituation">
        <p>Your living situation?</p>
    <select name="livingSituation">
        <option value="<%= person.livingSituation %>"  selected><%= person.livingSituation %></option>
        <option value="House">House</option>
        <option value="Apartment">Apartment</option>
        <option value="Other">Other</option>
    </select>
</label>
</div>
<div>
    <label for="livingStatus">
        <p>Do you live alone / With others?</p>
    <select name="livingStatus">
        <option value="<%= person.livingStatus %>"  selected><%= person.livingStatus %></option>
        <option value="Alone">Alone</option>
        <option value="With Roommates">With Roommates</option>
        <option value="With Parents">With Parents</option>
        <option value="Other">Other</option>
    </select>
</label>
</div>


</div>


<div class="question-category">
    <h2 class="question-category-title">Profession</h2>
    <div>
        <label for="professionIndustry" >
            <p>Profession Industry</p>
            <input type="text" name="professionIndustry" value="<%= person.professionIndustry %>" placeholder="Finance, Hospitality, etc.">
        </label>
    </div>
    <div>
        <label for="profession" >
            <p>Profession</p>
            <input type="text" value="<%= person.profession %>" name="profession" placeholder="Enter Profession">
        </label>
    </div>
    <div>
        <label for="professionLength">
            <p>How long?</p>
            <input type="text" name="professionLength" value="<%= person.professionLength %>" placeholder="1 month, 1 year, etc.">
    </label>
    </div>
    <div>
        <label for="professionSchedule" >
            <p>Work Schedule (Graveyard, Swing Shift, etc)</p>
            <input type="text" name="professionSchedule" value="<%= person.professionSchedule %>" placeholder="Swing, Graveyard, etc.">
        </label>
    </div>
</div>
<div class="question-category open-ended-textarea">
    <h2 class="question-category-title">Open Ended</h2>
    <div>
        <label for="loveLanguage">
            <p>How do you show love/ prefer to be loved?</p>
        <select name="loveLanguage">
            <option value="<%= person.loveLanguage %>"  selected><%= person.loveLanguage %></option>
            <option value="Gifts">Gifts</option>
            <option value="Physical Touch">Physical Touch</option>
            <option value="Words of Affirmation">Words of Affirmation</option>
            <option value="Quality Time">Quality Time</option>
            <option value="Acts of Service">Acts of Service</option>
        </select>
    </label>
    </div>
    <div>
        <label for="threePhysicalTraits" >
            <p>What are 3 Physical traits that are important to you?</p>
            <textarea  name="threePhysicalTraits" rows="4" cols="100" placeholder="Enter Response"><%= person.threePhysicalTraits %></textarea>
        </label>
    </div>
    <div>
        <label for="partnerLooks" >
            <p>What does your ideal partner look like?</p>
            <textarea  name="partnerLooks"  rows="4" cols="100" placeholder="Enter Response"><%= person.partnerLooks %></textarea>
        </label>
    </div>
    <div>
        <label for="partnerType" >
            <p>Do you have a type? If so, are you open to widening your search for a partner?</p>
            <textarea  name="partnerType"  rows="4" cols="100"  placeholder="Enter Response"><%= person.partnerType %></textarea>
        </label>
    </div>
    <div>
        <label for="threePersonalityTraits" >
            <p>What are 3 Personality traits that are important to you?</p>
            <textarea  name="threePersonalityTraits"  rows="4" cols="100" placeholder="Enter Response"><%= person.threePersonalityTraits %></textarea>
        </label>
    </div>
    <div>
        <label for="whatDoYouWant" >
            <p>What do you want in a match?</p>
            <textarea  name="whatDoYouWant"  rows="4"  cols="100" placeholder="Enter Response"><%= person.whatDoYouWant %></textarea>
        </label>
    </div>
    <div>
        <label for="dealBreakers" >
            <p>What are 3 Deal Breakers to you?</p>
            <textarea  name="dealBreakers"  rows="4" cols="100"  placeholder="Enter Response"><%= person.dealBreakers %></textarea>
        </label>
    </div>
    <div>
        <label for="petPeeves" >
            <p>What are 3 pet peeves of yours?</p>
            <textarea  name="petPeeves"  rows="4" cols="100"  placeholder="Enter Response"><%= person.petPeeves %></textarea>
        </label>
    </div>
    
    <div>
        <p>Are you a Heartbreaker?</p>
        <label for="heartBreaker">
            <select name="heartBreaker">
                <option value="<%= person.heartBreaker %>"  selected><%= person.heartBreaker %></option>
                <option value="true">Yes, I'm a Heartbreaker</option>
                <option value="false">No, I'm usually the Heartbroken</option>

            </select>
        </label>
    </div>
    <div>
        <label for="beenInLove" >
            <p>How many times have you been in love?</p>
            <input name="beenInLove" type="number" value="<%= person.beenInLove %>" placeholder="0, 1, 2, ...">
        </label>
    </div>
    <div>
        <label for="intimacy" >
            <p>How do you feel about intimacy?</p>
            <textarea  name="intimacy"  rows="4" cols="100"  placeholder="Enter Response"><%= person.intimacy %></textarea>
        </label>
    </div>
    <div>
        <label for="whenLastRelationship" >
            <p>When did your last relationship end?</p>
            <textarea  name="whenLastRelationship"  rows="4" cols="100" placeholder="Enter Response"><%= person.whenLastRelationship %></textarea>
        </label>
    </div>
    <div>
        <label for="whyLastRelationship" >
            <p>Why did your last relationship end?</p>
            <textarea  name="whyLastRelationship"   rows="4" cols="100" placeholder="Enter Response"><%= person.whyLastRelationship %></textarea>
        </label>
    </div>
    <div>
        <label for="threePersonalGoals" >
            <p>What are 3 of your personal/work goals for this year?</p>
            <textarea  name="threePersonalGoals"   rows="4" cols="100" placeholder="Enter Response"><%= person.threePersonalGoals %></textarea>
        </label>
    </div>
    <div>
        <label for="threeCharacterFlaws" >
            <p>What are 3 of your flaws you want to improve on?</p>
            <textarea  name="threeCharacterFlaws"   rows="4" cols="100" placeholder="Enter Response"><%= person.threeCharacterFlaws %></textarea>
        </label>
    </div>
    <div>
        <label for="threeThingsTable" >
            <p>What are 3 things you bring to the table?</p>
            <textarea  name="threeThingsTable"   rows="4" cols="100" placeholder="Enter Response"><%= person.threeThingsTable %></textarea>
        </label>
    </div>
    <div>
        <label for="celebCrush" >
            <p>Who is your celebrity crush?</p>
            <textarea  name="celebCrush"  rows="4"  cols="100" placeholder="Enter Response"><%= person.celebCrush %></textarea>
        </label>
    </div>
    <div>
        <label for="holidays" >
            <p>Do you enjoy celebrating holidays? Which ones are important to you?</p>
            <textarea  name="holidays"  rows="4" cols="100" placeholder="Enter Response"><%= person.holidays %></textarea>
        </label>
    </div>
    <div>
        <label for="lastBirthday" >
            <p>What did you do for your last Birthday?</p>
            <textarea  name="lastBirthday"   rows="4" cols="100" placeholder="Enter Response"><%= person.lastBirthday %></textarea>
        </label>
    </div>
    <div>
        <label for="dayOff" >
            <p>What is a typical day off like for you?</p>
            <textarea  name="dayOff"  rows="4" cols="100"  placeholder="Enter Response"><%= person.dayOff %></textarea>
        </label>
    </div>
    <div>
        <label for="threeSelfLove" >
            <p>What are 3 things you do to show yourself self love?</p>
            <textarea  name="threeSelfLove"  rows="4" cols="100" placeholder="Enter Response"><%= person.threeSelfLove %></textarea>
        </label>
    </div>
    <div>
        <label for="mentalHealth" >
            <p>What is your current mental health status?</p>
            <textarea  name="mentalHealth"   rows="4" cols="100" placeholder="Enter Response"><%= person.mentalHealth %></textarea>
        </label>
    </div>
    <div>
        <label for="threePastRelationshipIssues" >
            <p>Describe 3 main issues with your last relationship?</p>
            <textarea  name="threePastRelationshipIssues" rows="4" cols="100" placeholder="Enter Response"><%= person.threePastRelationshipIssues %></textarea>
        </label>
    </div>
    <div>
        <label for="perfectDate" >
            <p>Perfect date?</p>
            <textarea  name="perfectDate"  rows="4" cols="100" placeholder="Enter Response"><%= person.perfectDate %></textarea>
        </label>
    </div>
    <div>
        <label for="idealFirstDate" >
            <p>What would a potential match do on the first date to make you want to see them again?</p>
            <textarea  name="idealFirstDate"  rows="4" cols="100" placeholder="Enter Response"><%= person.idealFirstDate %></textarea>
        </label>
    </div>
    <div>
        <label for="cooking" >
            <p>Do you enjoy cooking?</p>
            <textarea  name="cooking"  rows="4"  cols="100" placeholder="Enter Response"><%= person.cooking %></textarea>
        </label>
    </div>
    <div>
        <label for="communicationStyle" >
            <p>Describe your communication style. Are you a quick responder?</p>
            <textarea  name="communicationStyle"  rows="4" cols="100" placeholder="Enter Response"><%= person.communicationStyle %></textarea>
        </label>
    </div>
    <div>
        <label for="reliable" >
            <p>How reliable are you?</p>
            <textarea  name="reliable"  rows="4" cols="100"  placeholder="Enter Response"><%= person.reliable %></textarea>
        </label>
    </div>
    <div>
        <label for="planner" >
            <p>Are you a planner or more of a fly by the seat of your pants person?</p>
            <textarea  name="planner"  rows="4" cols="100"  placeholder="Enter Response"><%= person.planner %></textarea>
        </label>
    </div>
    <div>
        <label for="hygiene" >
            <p>How important is hygiene/cleanliness? </p>
            <textarea  name="hygiene"  rows="4" cols="100"  placeholder="Enter Response"><%= person.hygiene %></textarea>
        </label>
    </div>
    <div>
        <label for="frequentSpot" >
            <p>What is a most frequented spot in Las Vegas?</p>
            <textarea  name="frequentSpot"  rows="4" cols="100"  placeholder="Enter Response"><%= person.frequentSpot %></textarea>
        </label>
    </div>
    <div>
        <label for="fiveYearPlan" >
            <p>If you could plan your future, where do you see yourself in 5 years?</p>
            <textarea  name="fiveYearPlan"  rows="4" cols="100"  placeholder="Enter Response"><%= person.fiveYearPlan %></textarea>
        </label>
    </div>
    <div>
        <p>Are you the more dominant or submissive partner in a relationship?</p>
        <label for="dominantSubmissive">
            <select name="dominantSubmissive">
                <option value="<%= person.dominantSubmissive %>"  selected><%= person.dominantSubmissive %></option>
                <option value="Dominant">Dominant</option>
                <option value="Submissive">Submissive</option>

            </select>
        </label>
    </div>
    <div>
        <label for="adventurer" >
            <p>Are you an adventurer/risk taker? What is one of the most risky things you’ve done?</p>
            <textarea  name="adventurer"  rows="4" cols="100" placeholder="Enter Response"><%= person.adventurer %></textarea>
        </label>
    </div>
    <div>
        <label for="likeSports" >
            <p>Are you into sports? Do you play? Favorite sport?</p>
            <textarea  name="likeSports"  rows="4" cols="100" placeholder="Enter Response"><%= person.likeSports %></textarea>
        </label>
    </div>
    <div>
        <label for="littleKnownFact" >
            <p>Something not many people know about you.</p>
            <textarea  name="littleKnownFact" rows="4" cols="100" placeholder="Enter Response"><%= person.littleKnownFact %></textarea>
        </label>
    </div>
    <div>
        <label for="prizedPossesion" >
            <p>Most prized possession/Who do you look up to?</p>
            <textarea  name="prizedPossesion"  rows="4" cols="100" placeholder="Enter Response"><%= person.prizedPossesion %></textarea>
        </label>
    </div>
    <div>
        <label for="trulyValue" >
            <p>What do you truly value?</p>
            <textarea  name="trulyValue"  rows="4" cols="100" placeholder="Enter Response"><%= person.trulyValue %></textarea>
        </label>
    </div>
    <div>
        <label for="criminalHistory" >
            <p>What is your criminal history? Be Specific.</p>
            <textarea  name="criminalHistory"  rows="4" cols="100" placeholder="Enter Response"><%= person.criminalHistory %></textarea>
        </label>
    </div>
    <div>
        <label for="extraInfo" >
            <p>Anything else I should know about you or what you’re looking for in a partner? </p>
            <textarea  name="extraInfo"  rows="4" cols="100" placeholder="Enter Response"><%= person.extraInfo %></textarea>
        </label>
    </div>
    
</div>
         
    

       
<input id="submit-edit" class="submit" type="submit" value="Confirm Changes">

    </form>
    <form class="delete-form" action="/people/<%= person._id %>?_method=DELETE" method="post">
        <input id="submit-delete" class="btn-danger" type="submit" value="Delete Client">
    </form>

</div>
<%- include('../partials/footer') %> 