<%- include('../partials/header') %>
<div id="people-index">
    <%- include('../partials/flash') %>

<table>
    <tr>
        <th>Name</th>
        <th>Age</th>
        <th>Gender</th>
        <th>Seeking</th>
        <th>Kids</th>
        <th>Smoking</th>
        <th>Drinking</th>
        <th>Religion</th>
        <th>Exercise</th>
        <th>Pets</th>
    </tr>
    <% allPeople.forEach(person => { %>
    <tr>
        <td><a href="/people/<%= person.id %>"><%= person.firstName %> <%= person.lastName %></a></td>
        <td>
           <% function getAge(dateString) { %>
              <%  var today = new Date(); %>
               <% var birthDate = new Date(dateString); %>
               <% var age = today.getFullYear() - birthDate.getFullYear(); %>
               <% var m = today.getMonth() - birthDate.getMonth(); %>
                <% if (m < 0 || (m === 0 && today.getDate() < birthDate.getDate())) { %>
                   <% age--; %>
              <%  } %>
               <% return age; %>
           <% } %>
               <%= getAge(person.birthday) %>
        </td>
        <% if(person.gender === 'Male') { %> <td><i class="fas fa-mars"></i> Male</td>
    <% } %>
        <% if(person.gender === 'Female') { %><td> <i class="fas fa-venus"></i> Female</td>
    <% } %>
        <% if(person.gender === 'Other') { %><td> <i class="fas fa-transgender-alt"></i> Other</td>
    <% } %>
    <% if(person.seeking === 'Men') { %> <td><i class="fas fa-mars"></i> Men</td>
    <% } %>
        <% if(person.seeking === 'Women') { %><td> <i class="fas fa-venus"></i> Women</td>
    <% } %>
        <% if(person.seeking === 'Both') { %><td> <i class="fas fa-venus-mars"></i> Both</td>
    <% } %>
        <td><%= person.children %></td>
        <td><%= person.cigaretteUse %></td>
        <td><%= person.alcoholUse %></td>
        <td><%= person.religion %></td>
        <td><%= person.exercise %></td>
        <td><%= person.pets %></td>
    </tr>
    <% }) %>

</table>

</div>
<%- include('../partials/footer') %>