<%- include('../partials/header') %>
<main id="people-index">
    <%- include('../partials/flash') %>

<table>
    <tr>
        <th>Name</th>
        <th>Age</th>
        <th>Gender</th>
        <th>Seeking</th>
        <th>Kids</th>
        <th>Smoking</th>
        <th>Drinking</th>
        <th>Religion</th>
        <th>Exercise</th>
        <th>Pets</th>
    </tr>
    <% allPeople.forEach(person => { %>
    <tr>
        <td><a href="/people/<%= person.id %>"><%= person.firstName %> <%= person.lastName %></a></td>
        <td><%= new Date().getFullYear() - person.birthday.getFullYear(); %></td>
        <td><%= person.gender %></td>
        <td><%= person.seeking %></td>
        <td><%= person.children %></td>
        <td><%= person.cigaretteUse %></td>
        <td><%= person.alcoholUse %></td>
        <td><%= person.religion %></td>
        <td><%= person.exercise %></td>
        <td><%= person.pets %></td>
    </tr>
    <% }) %>

</table>

</main>
<%- include('../partials/footer') %>