<%- include('../partials/header') %>
<main >
    <%- include('../partials/flash') %>
    <script>
        document.title = `Verafied™ - <%= person.firstName %>'s Profile` 
        </script>

    <h1><%= person.firstName %>'s Profile</h1>
    <div class="profile-container">
        
        <div class="profile-top">
            <div class="profile-pic">
                <div class="profile-carousel-container">
                    <% if(person.uploadedImages === []){ %>
                        <img src="/images/default-profile.jpeg">
                        <div class="profile-carousel-track">
                            <img src="/images/default-profile.jpeg">
                            <img src="/images/default-profile.jpeg">
                            <img src="/images/default-profile.jpeg">
                            <img src="/images/default-profile.jpeg">
                            <img src="/images/default-profile.jpeg">
                        </div>
                    <% } else { %>
                        <a target="_blank" id="profile-img-container" href="/<%= person.uploadedImages[0].path %>">
                            <img id="profile-img-top" src="/<%= person.uploadedImages[0].path %>">
                        </a>
                        <div class="profile-carousel-track">
                            <img id="carousel-img-zero" class="active" src="/<%= person.uploadedImages[0].path %>">
                            <img id="carousel-img-one" src="/<%= person.uploadedImages[1].path %>">
                            <img id="carousel-img-two" src="/<%= person.uploadedImages[2].path %>">
                            <img id="carousel-img-three" src="/<%= person.uploadedImages[3].path %>">
                            <img id="carousel-img-four" src="/<%= person.uploadedImages[4].path %>">
                        </div>
                        <% } %>
                </div>
                
                <div class="edit-btns">
                    <a href="<%= person.id %>/edit"><button id="profile-edit-btn">Edit Profile</button></a>
                    <a href="<%= person.id %>/pictures"><button id="profile-pic-btn">Add Pictures</button></a>
                </div>
            </div>

            <div class="profile-overview">
                
                <div id="profile-header-btns">
                    <button class="header-btn header-1 active">Overview</button>
                    <button class="header-btn header-2">Personality</button>
                    <button class="header-btn header-3">Career/Hobbies</button>
                    <button class="header-btn header-4">Body Art</button>
                    <button class="header-btn header-5">Family</button>
                </div>
                <div class="profile-overview-text header-overview">
                    <div class="show-container">
                        <p>Name:</p>
                        <div class="show-text">
                            <h5><%= person.firstName %> <%= person.lastName %>
                                <% if(person.gender === 'Female') { %>
                                    <i class="fas fa-venus"></i>
                                    <% } %>
                                <% if(person.gender === 'Other') { %>
                                    <i class="fas fa-transgender-alt"></i>
                                    <% } %>
                                <% if(person.gender === 'Male') { %>
                                    <i class="fas fa-mars"></i>
                                    <% } %>
                            </h5>
                        </div>
                    </div>
                    <div class="show-container">
                        <p>Age:</p>
                        <div class="show-text">
                            <h5>
                                <% function _calculateAge(birthday) { %>
                                <%   var ageDifMs = Date.now() - birthday.getTime(); %>
                                  <% var ageDate = new Date(ageDifMs); %>
                                 <%  return Math.abs(ageDate.getUTCFullYear() - 1970); %>
                               <% } %>
                               <%= _calculateAge(person.birthday) %>
                                </h5>
                        </div>
                    </div>
                    <div class="show-container">
                        <p>Seeking:</p>
                        <div class="show-text">
                            <h5>
                                <% if(person.seeking === 'Both') { %>
                                    <%= person.seeking %> Men and Women age <%= person.ageRange %>
                                    <% } else { %>
                                <%= person.seeking %> age <%= person.ageRange %>
                                    <% } %>
                                </h5>
                        </div>
                    </div>
                    <div class="show-container">
                        <p>Height:</p>
                        <div class="show-text">
                            <h5>
                                <%= person.height %>
                                </h5>
                        </div>
                    </div> 
                    <div class="show-container">
                        <p>Ethnicity:</p>
                        <div class="show-text">
                            <h5>
                                <%= person.ethnicity %>
                                </h5>
                        </div>
                    </div> 
                    <div class="show-container">
                        <p>Body Type:</p>
                        <div class="show-text">
                            <h5>
                                <%= person.bodyType %>
                                </h5>
                        </div>
                    </div> 
                    <div class="show-container">
                        <p>Politics:</p>
                        <div class="show-text">
                            <h5>
                                <%= person.politics %>
                                </h5>
                        </div>
                    </div> 
                    <div class="show-container">
                        <p>Religion:</p>
                        <div class="show-text">
                            <h5>
                                <%= person.religion %>
                                </h5>
                        </div>
                    </div> 
                    <div class="show-container">
                        <p>From:</p>
                        <div class="show-text">
                            <h5>
                                <%= person.originallyFrom %>
                                </h5>
                        </div>
                    </div> 
                    <div class="show-container">
                        <p>Lives in:</p>
                        <div class="show-text">
                            <h5>
                                <%= person.areaOfTown %>
                                </h5>
                        </div>
                    </div> 
                    <div class="show-container">
                        <p>Previously Married: </p>
                        <div class="show-text">
                            <h5>
                                <%= person.prevMarried %>
                                </h5>
                        </div>
                    </div> 
                    <div class="show-container">
                        <p>Has Kids: </p>
                        <div class="show-text">
                            <h5>
                                <%= person.children %>
                                </h5>
                        </div>
                    </div> 
                    <div class="show-container">
                        <p>Wants Kids: </p>
                        <div class="show-text">
                            <h5>
                                <%= person.wantChildren %>
                                </h5>
                        </div>
                    </div> 
                    <div class="show-container">
                        <p>Willing to be Step Parent: </p>
                        <div class="show-text">
                            <h5>
                                <%= person.stepParent %>
                                </h5>
                        </div>
                    </div> 


                    

                </div>
                <div class="profile-overview-text hidden header-career">
                    <div class="show-container">
                        <p>Career Industry:</p>
                        <div class="show-text">
                            <h5>
                                <%= person.professionIndustry %>
                                </h5>
                        </div>
                    </div> 
                    <div class="show-container">
                        <p>Career: </p>
                        <div class="show-text">
                            <h5>
                                <%= person.profession %>
                                </h5>
                        </div>
                    </div> 
                    <div class="show-container">
                        <p>Length in Position: </p>
                        <div class="show-text">
                            <h5>
                                <%= person.professionLength %>
                                </h5>
                        </div>
                    </div> 
                    <div class="show-container">
                        <p>Work Schedule: </p>
                        <div class="show-text">
                            <h5>
                                <%= person.professionSchedule %>
                                </h5>
                        </div>
                    </div> 
                    <div class="show-container">
                        <p>Hobbies: </p>
                        <div class="show-text">
                            <h5>
                                <%= person.hobbies1 %>
                                </h5>
                        </div>
                    </div> 
                    <div class="show-container">
                        <p> </p>
                        <div class="show-text">
                            <h5>
                                <%= person.hobbies2 %>
                                </h5>
                        </div>
                    </div> 
                    <div class="show-container">
                        <p> </p>
                        <div class="show-text">
                            <h5>
                                <%= person.hobbies3 %>
                                </h5>
                        </div>
                    </div> 

                </div>
                <div class="profile-overview-text hidden header-lookingfor">
                    <div class="show-container">
                        <p>Siblings:</p>
                        <div class="show-text">
                            <h5>
                                <%= person.siblings %>
                                </h5>
                        </div>
                    </div>
                    <div class="show-container">
                        <p>Family Closeness:</p>
                        <div class="show-text">
                            <h5>
                                <%= person.familyCloseness %>
                                </h5>
                        </div>
                    </div>
                    <div class="show-container">
                        <p>Family In Vegas:</p>
                        <div class="show-text">
                            <h5>
                                <%= person.familyInVegas %>
                                </h5>
                        </div>
                    </div>
                <div class="profile-overview-text hidden header-personality">
                    <p><span><%= person.dominantSubmissive %></span></p>
                </div>
                <div class="profile-overview-text hidden header-bodyart">
                    <p><span>Piercings:  </span><%= person.piercings %></p>
                    <% if(person.piercings === 'Yes') { %>
                        <p><span>Piercing Locations:  </span><%= person.piercingPlaces %></p>
                        <% } %>
                        <p><span>Okay with Partner Piercings?:  </span><%= person.partnerPiercings %></p>
                    <p><span>Tattoos:  </span><%= person.tattoos %></p>
                    <% if(person.tattoos === 'Yes') { %>
                        <p><span>Tattoo Locations:  </span><%= person.tattooPlaces %></p>
                        <% } %>
                        <p><span>Okay with Partner Tattoos?:  </span><%= person.partnerTattoos %></p>
                    
                </div>
            </div>
            
        </div>
        
        
        <div class="profile-section">

            <div class="icon-container">
                <div class="icon-container-top">
                <div class="icon-text-container">
                    <i class="tooltip fas fa-cannabis"><span class="tooltiptext"><%= person.marijuanaUse %></span></i>
                    <p>Marijuana Use</p>
                </div>
                <div class="icon-text-container">
                    <i class="tooltip fas fa-beer"><span class="tooltiptext"><%= person.alcoholUse %></span></i>
                    <p>Alcohol Use</p>
                </div>
                <div class="icon-text-container">
                    <i class="tooltip fas fa-smoking"><span class="tooltiptext"><%= person.cigaretteUse %></span></i>
                    <p>Cigarettes</p>
                </div>
            </div>
            <div class="icon-container-bottom">
                <div class="icon-text-container">
                    <i class="tooltip fas fa-network-wired"><span class="tooltiptext"><%= person.socialMedia %></span></i>
                    <p>Social Media Use</p>
                </div>
                <div class="icon-text-container">
                    <i class="tooltip fas fa-tv"><span class="tooltiptext"><%= person.tv %></span></i>
                    <p>TV Watching</p>
                </div>
                <div class="icon-text-container">
                    <i class="tooltip fas fa-gamepad"><span class="tooltiptext"><%= person.gamer %></span></i>
                    <p>Gamer</p>
                </div>
            </div>    
            </div>
            <div class="icon-container">
                <div class="icon-container-top">
                <div class="icon-text-container">
                    <i class="tooltip fas fa-baby"><span class="tooltiptext"><%= person.wantChildren %></span></i>
                    <p>Wants Kids</p>
                </div>
                <div class="icon-text-container">
                    <i class="tooltip fas fa-child"><span class="tooltiptext"><%= person.children %></span></i>
                    <p>Has Kids</p>
                </div>
                <div class="icon-text-container">
                    <i class="tooltip fas fa-ring"><span class="tooltiptext"><%= person.prevMarried %></span></i>
                    <p>Married Before</p>
                </div>
            </div>
            <div class="icon-container-bottom">
                <div class="icon-text-container">
                    <i class="tooltip far fa-star"><span class="tooltiptext"><%= person.military %></span></i>
                    <p>Military</p>
                </div>
                <div class="icon-text-container">
                    <i class="tooltip fas fa-user-shield"><span class="tooltiptext"><%= person.partnerMilitary %></span></i>
                    <p>Military Spouse</p>
                </div>
            </div>    
            </div>
            <div class="icon-container">
                <div class="icon-container-top">
                <div class="icon-text-container">
                    <i class="tooltip fas fa-leaf"><span class="tooltiptext"><%= person.outdoorsy %></span></i>
                    <p>Outdoorsy</p>
                </div>
                <div class="icon-text-container">
                    <i class="tooltip fas fa-dumbbell"><span class="tooltiptext"><%= person.exercise %></span></i>
                    <p>Exercise</p>
                </div>
                <div class="icon-text-container">
                    <i class="tooltip fas fa-book"><span class="tooltiptext"><%= person.books %></span></i>
                    <p>Bookworm</p>
                </div>
            </div>
            <div class="icon-container-bottom">
                <div class="icon-text-container">
                    <i class="tooltip fas fa-paw"><span class="tooltiptext"><%= person.pets %></span></i>
                    <p>Pets</p>
                </div>



            </div>    
            </div>
        </div>
        <div class="profile-section personality-container">
            <div class="personality-row">
                <div class="icon-button-sm">
                    <i class="tooltip fas fa-dumbbell"></i>
                    <p>Exercises Weekly</p>
                </div>
                <div class="icon-button-sm">
                    <i class="tooltip fas fa-dumbbell"></i>
                    <p>Exercises Weekly</p>
                </div>
                <div class="icon-button-sm">
                    <i class="tooltip fas fa-dumbbell"></i>
                    <p>Exercises Weekly</p>
                </div>
                <div class="icon-button-sm">
                    <i class="tooltip fas fa-dumbbell"></i>
                    <p>Exercises Weekly</p>
                </div>
                <div class="icon-button-sm">
                    <i class="tooltip fas fa-dumbbell"></i>
                    <p>Exercises Weekly</p>
                </div>
                <div class="icon-button-sm">
                    <i class="tooltip fas fa-dumbbell"></i>
                    <p>Exercises Weekly</p>
                </div>

            </div>
            <div class="personality-row">
                <div class="icon-button-md">
                    <i class="tooltip fas fa-dumbbell"></i>
                    <p>Exercises Weekly</p>
                </div>
                <div class="icon-button-md">
                    <i class="tooltip fas fa-dumbbell"></i>
                    <p>Exercises Weekly</p>
                </div>
                <div class="icon-button-md">
                    <i class="tooltip fas fa-dumbbell"></i>
                    <p>Exercises Weekly</p>
                </div>
                <div class="icon-button-md">
                    <i class="tooltip fas fa-dumbbell"></i>
                    <p>Exercises Weekly</p>
                </div>
                <div class="icon-button-md">
                    <i class="tooltip fas fa-dumbbell"></i>
                    <p>Exercises Weekly</p>
                </div>
                <div class="icon-button-md">
                    <i class="tooltip fas fa-dumbbell"></i>
                    <p>Exercises Weekly</p>
                </div>

            </div>

        </div>
        <div class="profile-section personality-container">
            <h2 id="openended-title">Open Ended Questions</h2>
            <div class="openended-item" id="first-openended">
                <h4>How do you show love/ prefer to be loved?</h4>
                <p class="openended-p"><%= person.loveLanguage %></p>
            </div>
            <div class="openended-item">
                <h4>What are 3 Physical traits that are important to you?</h4>
                <p class="openended-p"><%= person.threePhysicalTraits  %></p>
            </div>
            <div class="openended-item">
                <h4>What does your ideal partner look like?</h4>
                <p class="openended-p"><%= person.partnerLooks  %></p>
            </div>
            <div class="openended-item">
                <h4>What does your ideal partner look like?</h4>
                <p class="openended-p"><%= person.partnerLooks  %></p>
            </div>
        </div>
    


</main>


<script src="/helpers.js"></script>
<%- include('../partials/footer') %>