<%- include('../partials/header') %>
<main >
    <%- include('../partials/flash') %>

    <h1><%= person.firstName %> <%= person.lastName %>'s Profile</h1>
    <div class="profile-container">

    </div>
</main>
<%- include('../partials/footer') %>