<%- include('../partials/header') %>
<main >
    <%- include('../partials/flash') %>

    <h1><%= person.firstName %>'s Profile</h1>
    <div class="profile-container">
        
        <div class="profile-top">
            <div class="profile-pic">
                <img src="/<%= person.uploadedImages[0].path %>">
                <div class="edit-btns">

                    <a href="<%= person.id %>/edit"><button id="profile-edit-btn">Edit Profile</button></a>
                    <a href="<%= person.id %>/pictures"><button id="profile-pic-btn">Add Pictures</button></a>
                </div>
            </div>

            <div class="profile-overview">
                
                <div id="profile-header-btns">
                    <button class="header-btn header-1 active">Overview</button>
                    <button class="header-btn header-2">Personality</button>
                    <button class="header-btn header-3">Career/Hobbies</button>
                    <button class="header-btn header-4">Body Art</button>
                    <button class="header-btn header-5">Looking For</button>
                </div>
                <div class="profile-overview-text header-overview">
                    <p><span>Name:</span> <%= person.firstName %> <%= person.lastName %></p>
                    <p><span>Gender:</span> <%= person.gender %></p>
                    <p><span>Age:</span> <%= new Date().getFullYear() - person.birthday.getFullYear(); %></p>
                    <p><span>Seeking:</span> <%= person.seeking %> between <%= person.ageRange %></p>
                    <p><span>Ethnicity: </span><%= person.ethnicity %></p>
                    <p><span>Religion: </span><%= person.religion %></p>
                    <p><span>Politics: </span><%= person.politics %></p>
                    <p><span>Originally From: </span><%= person.originallyFrom %></p>
                    <p><span>Living In: </span><%= person.areaOfTown %></p>
                    

                    

                </div>
                <div class="profile-overview-text hidden header-career">
                    <p><span>Career: </span><%= person.profession %></p>

                    <p><span>Hobbies: </span><%= person.hobbies1 %>, <%= person.hobbies2 %>, <%= person.hobbies1 %></p>

                </div>
                <div class="profile-overview-text hidden header-lookingfor">
                    <p><span>General Type: </span><%= person.partnerType %></p>
                    <p><span>Desired Physical Traits </span><%= person.threePhysicalTraits %></p>
                    <p><span>Deal Breakers: </span><%= person.dealBreakers %></p>
                    

                </div>
                <div class="profile-overview-text hidden header-personality">
                    <p><span><%= person.dominantSubmissive %></span></p>
                </div>
                <div class="profile-overview-text hidden header-bodyart">
                    <p><span>Piercings:  </span><%= person.piercings %></p>
                    <% if(person.piercings === 'Yes') { %>
                        <p><span>Piercing Locations:  </span><%= person.piercingPlaces %></p>
                        <% } %>
                        <p><span>Okay with Partner Piercings?:  </span><%= person.partnerPiercings %></p>
                    <p><span>Tattoos:  </span><%= person.tattoos %></p>
                    <% if(person.tattoos === 'Yes') { %>
                        <p><span>Tattoo Locations:  </span><%= person.tattooPlaces %></p>
                        <% } %>
                        <p><span>Okay with Partner Tattoos?:  </span><%= person.partnerTattoos %></p>
                    
                </div>
            </div>
            
        </div>
        
        
        <div class="profile-section">

            <div class="icon-container">
                <div class="icon-container-top">
                <div class="icon-text-container">
                    <i class="tooltip fas fa-cannabis"><span class="tooltiptext"><%= person.marijuanaUse %></span></i>
                    <p>Marijuana Use</p>
                </div>
                <div class="icon-text-container">
                    <i class="tooltip fas fa-beer"><span class="tooltiptext"><%= person.alcoholUse %></span></i>
                    <p>Alcohol Use</p>
                </div>
                <div class="icon-text-container">
                    <i class="tooltip fas fa-smoking"><span class="tooltiptext"><%= person.cigaretteUse %></span></i>
                    <p>Cigarettes</p>
                </div>
            </div>
            <div class="icon-container-bottom">
                <div class="icon-text-container">
                    <i class="tooltip fas fa-network-wired"><span class="tooltiptext"><%= person.socialMedia %></span></i>
                    <p>Social Media Use</p>
                </div>
                <div class="icon-text-container">
                    <i class="tooltip fas fa-tv"><span class="tooltiptext"><%= person.tv %></span></i>
                    <p>TV Watching</p>
                </div>
                <div class="icon-text-container">
                    <i class="tooltip fas fa-gamepad"><span class="tooltiptext"><%= person.gamer %></span></i>
                    <p>Gamer</p>
                </div>
            </div>    
            </div>
            <div class="icon-container">
                <div class="icon-container-top">
                <div class="icon-text-container">
                    <i class="tooltip fas fa-baby"><span class="tooltiptext"><%= person.wantChildren %></span></i>
                    <p>Wants Kids</p>
                </div>
                <div class="icon-text-container">
                    <i class="tooltip fas fa-child"><span class="tooltiptext"><%= person.children %></span></i>
                    <p>Has Kids</p>
                </div>
                <div class="icon-text-container">
                    <i class="tooltip fas fa-ring"><span class="tooltiptext"><%= person.prevMarried %></span></i>
                    <p>Married Before</p>
                </div>
            </div>
            <div class="icon-container-bottom">
                <div class="icon-text-container">
                    <i class="tooltip far fa-star"><span class="tooltiptext"><%= person.military %></span></i>
                    <p>Military</p>
                </div>
                <div class="icon-text-container">
                    <i class="tooltip fas fa-user-shield"><span class="tooltiptext"><%= person.partnerMilitary %></span></i>
                    <p>Military Spouse</p>
                </div>
            </div>    
            </div>
            <div class="icon-container">
                <div class="icon-container-top">
                <div class="icon-text-container">
                    <i class="tooltip fas fa-leaf"><span class="tooltiptext"><%= person.outdoorsy %></span></i>
                    <p>Outdoorsy</p>
                </div>
                <div class="icon-text-container">
                    <i class="tooltip fas fa-dumbbell"><span class="tooltiptext"><%= person.exercise %></span></i>
                    <p>Exercise</p>
                </div>
                <div class="icon-text-container">
                    <i class="tooltip fas fa-book"><span class="tooltiptext"><%= person.books %></span></i>
                    <p>Bookworm</p>
                </div>
            </div>
            <div class="icon-container-bottom">
                <div class="icon-text-container">
                    <i class="tooltip fas fa-paw"><span class="tooltiptext"><%= person.pets %></span></i>
                    <p>Pets</p>
                </div>



            </div>    
            </div>
        </div>

        
    </div>
    
</main>
<script src="/helpers.js"></script>
<%- include('../partials/footer') %>