<%- include('../partials/header') %>
<main >
    <%- include('../partials/flash') %>
    <script>
        document.title = `Verafied™ - <%= person.firstName %>'s Profile` 
        </script>

    <h1><%= person.firstName %>'s Profile</h1>
    <div class="profile-container">
        
        <div class="profile-top">
            <div class="profile-pic">
                <div class="profile-carousel-container">
                    <% if(person.uploadedImages === []){ %>
                        <img src="/images/default-profile.jpeg">
                        <div class="profile-carousel-track">
                            <img src="/images/default-profile.jpeg">
                            <img src="/images/default-profile.jpeg">
                            <img src="/images/default-profile.jpeg">
                            <img src="/images/default-profile.jpeg">
                            <img src="/images/default-profile.jpeg">
                        </div>
                    <% } else { %>
                        <a target="_blank" id="profile-img-container" href="/<%= person.uploadedImages[0].path %>">
                            <img id="profile-img-top" src="/<%= person.uploadedImages[0].path %>">
                        </a>
                        <div class="profile-carousel-track">
                            <img id="carousel-img-zero" class="active" src="/<%= person.uploadedImages[0].path %>">
                            <img id="carousel-img-one" src="/<%= person.uploadedImages[1].path %>">
                            <img id="carousel-img-two" src="/<%= person.uploadedImages[2].path %>">
                            <img id="carousel-img-three" src="/<%= person.uploadedImages[3].path %>">
                            <img id="carousel-img-four" src="/<%= person.uploadedImages[4].path %>">
                        </div>
                        <% } %>
                </div>
                
                <div class="edit-btns">
                    <a href="<%= person.id %>/edit"><button id="profile-edit-btn">Edit Profile</button></a>
                    <a href="<%= person.id %>/pictures"><button id="profile-pic-btn">Add Pictures</button></a>
                </div>
            </div>

            <div class="profile-overview">
                
                <div id="profile-header-btns">
                    <button class="header-btn header-1 active">Overview</button>
                    <button class="header-btn header-2">Personality</button>
                    <button class="header-btn header-3">Career/Hobbies</button>
                    <button class="header-btn header-4">Body Art</button>
                    <button class="header-btn header-5">Family</button>
                </div>
                <div class="profile-overview-text header-overview">
                    <div class="show-container">
                        <p>Name:</p>
                        <div class="show-text">
                            <h5><%= person.firstName %> <%= person.lastName %>
                                <% if(person.gender === 'Female') { %>
                                    <i class="fas fa-venus"></i>
                                    <% } %>
                                <% if(person.gender === 'Other') { %>
                                    <i class="fas fa-transgender-alt"></i>
                                    <% } %>
                                <% if(person.gender === 'Male') { %>
                                    <i class="fas fa-mars"></i>
                                    <% } %>
                            </h5>
                        </div>
                    </div>
                    <div class="show-container">
                        <p>Age:</p>
                        <div class="show-text">
                            <h5>
                                <% function _calculateAge(birthday) { %>
                                <%   var ageDifMs = Date.now() - birthday.getTime(); %>
                                  <% var ageDate = new Date(ageDifMs); %>
                                 <%  return Math.abs(ageDate.getUTCFullYear() - 1970); %>
                               <% } %>
                               <%= _calculateAge(person.birthday) %>
                                </h5>
                        </div>
                    </div>
                    <div class="show-container">
                        <p>Seeking:</p>
                        <div class="show-text">
                            <h5>
                                <% if(person.seeking === 'Both') { %>
                                    <%= person.seeking %> Men and Women age <%= person.ageRange %>
                                    <% } else { %>
                                <%= person.seeking %> age <%= person.ageRange %>
                                    <% } %>
                                </h5>
                        </div>
                    </div>
                    <div class="show-container">
                        <p>Height:</p>
                        <div class="show-text">
                            <h5>
                                <%= person.height %>
                                </h5>
                        </div>
                    </div> 
                    <div class="show-container">
                        <p>Ethnicity:</p>
                        <div class="show-text">
                            <h5>
                                <%= person.ethnicity %>
                                </h5>
                        </div>
                    </div> 
                    <div class="show-container">
                        <p>Body Type:</p>
                        <div class="show-text">
                            <h5>
                                <%= person.bodyType %>
                                </h5>
                        </div>
                    </div> 
                    <div class="show-container">
                        <p>Politics:</p>
                        <div class="show-text">
                            <h5>
                                <%= person.politics %>
                                </h5>
                        </div>
                    </div> 
                    <div class="show-container">
                        <p>Religion:</p>
                        <div class="show-text">
                            <h5>
                                <%= person.religion %>
                                </h5>
                        </div>
                    </div> 
                    <div class="show-container">
                        <p>From:</p>
                        <div class="show-text">
                            <h5>
                                <%= person.originallyFrom %>
                                </h5>
                        </div>
                    </div> 
                    <div class="show-container">
                        <p>Lives in:</p>
                        <div class="show-text">
                            <h5>
                                <%= person.areaOfTown %>
                                </h5>
                        </div>
                    </div> 



                    

                </div>
                <div class="profile-overview-text hidden header-career">
                    <div class="show-container">
                        <p>Career Industry:</p>
                        <div class="show-text">
                            <h5>
                                <%= person.professionIndustry %>
                                </h5>
                        </div>
                    </div> 
                    <div class="show-container">
                        <p>Career: </p>
                        <div class="show-text">
                            <h5>
                                <%= person.profession %>
                                </h5>
                        </div>
                    </div> 
                    <div class="show-container">
                        <p>Length in Position: </p>
                        <div class="show-text">
                            <h5>
                                <%= person.professionLength %>
                                </h5>
                        </div>
                    </div> 
                    <div class="show-container">
                        <p>Work Schedule: </p>
                        <div class="show-text">
                            <h5>
                                <%= person.professionSchedule %>
                                </h5>
                        </div>
                    </div> 
                    

                </div>
                <div class="profile-overview-text hidden header-lookingfor">
                    <div class="show-container">
                        <p>Previously Married: </p>
                        <div class="show-text">
                            <h5>
                                <%= person.prevMarried %>
                                </h5>
                        </div>
                    </div> 
                    <div class="show-container">
                        <p>Has Kids: </p>
                        <div class="show-text">
                            <h5>
                                <%= person.children %>
                                </h5>
                        </div>
                    </div> 
                    <div class="show-container">
                        <p>Wants Kids: </p>
                        <div class="show-text">
                            <h5>
                                <%= person.wantChildren %>
                                </h5>
                        </div>
                    </div> 
                    <div class="show-container">
                        <p>Willing to be Step Parent: </p>
                        <div class="show-text">
                            <h5>
                                <%= person.stepParent %>
                                </h5>
                        </div>
                    </div> 
                    <div class="show-container">
                        <p>Siblings:</p>
                        <div class="show-text">
                            <h5>
                                <%= person.siblings %>
                                </h5>
                        </div>
                    </div>
                    <div class="show-container">
                        <p>Family Closeness:</p>
                        <div class="show-text">
                            <h5>
                                <%= person.familyCloseness %>
                                </h5>
                        </div>
                    </div>
                    <div class="show-container">
                        <p>Family In Vegas:</p>
                        <div class="show-text">
                            <h5>
                                <%= person.familyInVegas %>
                                </h5>
                        </div>
                    </div>
                </div>
                <div class="profile-overview-text hidden header-personality">
                    <div class="show-container">
                        <p>Hobbies: </p>
                        <div class="show-text">
                            <h5>
                                <%= person.hobbies1 %>
                                </h5>
                        </div>
                    </div> 
                    <div class="show-container">
                        <p> </p>
                        <div class="show-text">
                            <h5>
                                <%= person.hobbies2 %>
                                </h5>
                        </div>
                    </div> 
                    <div class="show-container">
                        <p> </p>
                        <div class="show-text">
                            <h5>
                                <%= person.hobbies3 %>
                                </h5>
                        </div>
                    </div> 
                    <div class="show-container">
                        
                        <p>Relationship Role:</p>
                        <div class="show-text">
                            <h5>
                                <%= person.dominantSubmissive %>
                                </h5>
                        </div>
                    </div>
                    <div class="show-container">
                        
                        <p>Self Esteem:</p>
                        <div class="show-text">
                            <h5>
                                <%= person.selfEsteem %>
                                </h5>
                        </div>
                    </div>
                    

                        <div class="show-container">
                        
                            <p>Military Partner:</p>
                            <div class="show-text">
                                <h5>
                                    <%= person.partnerMilitary %>
                                    </h5>
                            </div>
                        </div>
                    <div class="show-container">
                        <p>Desired Partner Ethnicity:</p>
                        <div class="show-text">
                            <h5>
                                <%= person.partnerEthnicity %>
                                </h5>
                        </div>
                    </div>

                </div>
                <div class="profile-overview-text hidden header-bodyart">
                    <div class="show-container">
                        <p>Piercings:</p>
                        <div class="show-text">
                            <h5>
                                <%= person.piercings %>
                                </h5>
                        </div>
                    </div>
                    <% if(person.piercings === 'Yes') { %>
                    <div class="show-container">
                        <p>Piercing Locations:</p>
                        <div class="show-text">
                            <h5>
                                <%= person.person.piercingPlaces %>
                                </h5>
                        </div>
                    </div>
                    <% } %>
                    <div class="show-container">
                        <p>Partner Piercings?</p>
                        <div class="show-text">
                            <h5>
                                <%= person.partnerPiercings %>
                                </h5>
                        </div>
                    </div>
                    <div class="show-container">
                        <p>Tattoos:</p>
                        <div class="show-text">
                            <h5>
                                <%= person.tattoos %>
                                </h5>
                        </div>
                    </div>
                    <% if(person.tattoos === 'Yes') { %>
                        <div class="show-container">
                            <p>Tattoos Locations:</p>
                            <div class="show-text">
                                <h5>
                                    <%= person.tattooPlaces %>
                                    </h5>
                            </div>
                        </div>
                        <% } %>
                        <div class="show-container">
                            <p>Partner Tattoos?</p>
                            <div class="show-text">
                                <h5>
                                    <%= person.partnerTattoos %>
                                    </h5>
                            </div>
                        </div>
                    
                </div>
            
        </div>
        
        
        <div class="profile-section personality-container">
            <div class="personality-row">
                <% if(person.exercise !== 'Never'){ %>

                    <div class="icon-button-sm">
                        <i class="tooltip fas fa-dumbbell"></i>
                        <p>Exercises <%= person.exercise %></p>
                    </div>
             <%   }  %>
                <% if(person.cigaretteUse !== 'Never'){ %>

                    <div class="icon-button-sm">
                        <i class="tooltip fas fa-smoking"></i>
                        <p>Smokes <%= person.cigaretteUse %></p>
                    </div>
             <%   }  %>
                <% if(person.alcoholUse !== 'Never'){ %>

                    <div class="icon-button-sm">
                        <i class="tooltip fas fa-beer"></i>
                        <p>Drinks <%= person.alcoholUse %></p>
                    </div>
             <%   }  %>
                <% if(person.marijuanaUse !== 'Never'){ %>

                    <div class="icon-button-sm">
                        <i class="tooltip fas fa-cannabis"></i>
                        <p>Tokes <%= person.marijuanaUse %></p>
                    </div>
             <%   }  %>
                <% if(person.outdoorsy === 'Yes'){ %>

                    <div class="icon-button-sm">
                        <i class="tooltip fas fa-leaf"></i>
                        <p>Outdoorsy</p>
                    </div>
             <%   }  %>
                <% if(person.books === 'Yes'){ %>

                    <div class="icon-button-sm">
                        <i class="tooltip fas fa-book"></i>
                        <p>Bookworm</p>
                    </div>
             <%   }  %>
                <% if(person.travel !== 'Never'){ %>

                    <div class="icon-button-sm">
                        <i class="tooltip fas fa-plane-departure"></i>
                        <p>Likes Travel</p>
                    </div>
             <%   }  %>
                <% if(person.gamer !== 'No'){ %>

                    <div class="icon-button-sm">
                        <i class="tooltip fas fa-gamepad"></i>
                        <p>Likes Gaming</p>
                    </div>
             <%   }  %>
                <% if(person.pets !== 'No'){ %>

                    <div class="icon-button-sm">
                        <i class="tooltip fas fa-paw"></i>
                        <p>Has Pet(s)</p>
                    </div>
             <%   }  %>
                <% if(person.military !== 'No'){ %>

                    <div class="icon-button-sm">
                        <i class="tooltip fas fa-star"></i>
                        <p>Served in: <%= person.militaryBranch %></p>
                    </div>
             <%   }  %>
                <% if(person.prevMarried !== 'No'){ %>
                    <div class="icon-button-sm">
                        <i class="tooltip fas fa-ring"></i>
                        <p>Married <%= person.prevMarried %> Before</p>
                    </div>
             <%   }  %>
                <% if(person.children !== 'No'){ %>
                    <div class="icon-button-sm">
                        <i class="tooltip fas fa-child"></i>
                        <p>Kids: <%= person.children %></p>
                    </div>
             <%   }  %>
                <% if(person.wantChildren !== 'No'){ %>
                    <div class="icon-button-sm">
                        <i class="tooltip fas fa-baby"></i>
                        <p>Wants Kids</p>
                    </div>
             <%   }  %>
                </div>
        </div>
        <div class="profile-section personality-container" id="logistics-container">
            <h2 id="openended-title">Verafied Logistics</h2>

            <div class="show-container contact-container">
                <p>Client Email: </p>
                <div class="show-text ">
                    <h5>
                        <%= person.clientEmail %>
                        </h5>
                </div>

            </div>
            <div class="show-container contact-container">
                <p>Client Phone: </p>
                <div class="show-text ">
                    <h5>
                        <%= person.phoneNumber %>
                        </h5>
                </div>

            </div>
            <div class="show-container contact-container">
                <p>Looking For: </p>
                <div class="show-text ">
                    <h5>
                        <%= person.relationshipGoal %>
                        </h5>
                </div>

            </div>
            <div class="show-container contact-container">
                <p>Reason for Joining: </p>
                <div class="show-text ">
                    <h5>
                        <%= person.verafiedJoinReason %>
                        </h5>
                </div>

            </div>
            <div class="show-container contact-container">
                <p>Mixers? </p>
                <div class="show-text ">
                    <h5>
                        <%= person.mixers %>
                        </h5>
                </div>

            </div>
            <div class="show-container contact-container">
                <p>Suggestions: </p>
                <div class="show-text ">
                    <h5>
                        <%= person.verafiedSuggestions %>
                        </h5>
                </div>

            </div>
        </div>
        <div class="profile-section personality-container">
            <h2 id="openended-title">Open Ended Questions</h2>
            <div class="openended-item" id="first-openended">
                <h4>How do you show love/ prefer to be loved?</h4>
                <p class="openended-p show-text"><%= person.loveLanguage %></p>
            </div>
            <div class="openended-item">
                <h4>What are 3 Physical traits that are important to you?</h4>
                <p class="openended-p show-text"><%= person.threePhysicalTraits  %></p>
            </div>
            <div class="openended-item">
                <h4>What does your ideal partner look like?</h4>
                <p class="openended-p show-text"><%= person.partnerLooks  %></p>
            </div>
            <div class="openended-item">
                <h4>What does your ideal partner look like?</h4>
                <p class="openended-p show-text"><%= person.partnerLooks  %></p>
            </div>
            <div class="openended-item">
                <h4>Do you have a type? If so, are you open to widening your search for a partner?</h4>
                <p class="openended-p show-text"><%= person.partnerType  %></p>
            </div>
            <div class="openended-item">
                <h4>What are 3 Personality traits that are important to you?</h4>
                <p class="openended-p show-text"><%= person.threePersonalityTraits  %></p>
            </div>
            <div class="openended-item">
                <h4>What do you want in a match?</h4>
                <p class="openended-p show-text"><%= person.whatDoYouWant  %></p>
            </div>
            <div class="openended-item">
                <h4>What are 3 Deal Breakers to you?</h4>
                <p class="openended-p show-text"><%= person.dealBreakers  %></p>
            </div>
            <div class="openended-item">
                <h4>What are 3 pet peeves of yours?</h4>
                <p class="openended-p show-text"><%= person.petPeeves  %></p>
            </div>
            <div class="openended-item">
                <h4>Are you a Heartbreaker?</h4>
                <p class="openended-p show-text"><%= person.heartBreaker  %></p>
            </div>
            <div class="openended-item">
                <h4>How many times have you been in love?</h4>
                <p class="openended-p show-text"><%= person.beenInLove  %></p>
            </div>
            <div class="openended-item">
                <h4>How do you feel about intimacy?</h4>
                <p class="openended-p show-text"><%= person.intimacy  %></p>
            </div>
            <div class="openended-item">
                <h4>When did your last relationship end?</h4>
                <p class="openended-p show-text"><%= person.whenLastRelationship  %></p>
            </div>
            <div class="openended-item">
                <h4>Why did your last relationship end?</h4>
                <p class="openended-p show-text"><%= person.whyLastRelationship  %></p>
            </div>
            <div class="openended-item">
                <h4>What are 3 of your personal/work goals for this year?</h4>
                <p class="openended-p show-text"><%= person.threePersonalGoals  %></p>
            </div>
            <div class="openended-item">
                <h4>What are 3 of your flaws you want to improve on?</h4>
                <p class="openended-p show-text"><%= person.threeCharacterFlaws %></p>
            </div>
            <div class="openended-item">
                <h4>What are 3 things you bring to the table?</h4>
                <p class="openended-p show-text"><%= person.threeThingsTable %></p>
            </div>
            <div class="openended-item">
                <h4>Who is your celebrity crush?</h4>
                <p class="openended-p show-text"><%= person.celebCrush %></p>
            </div>
            <div class="openended-item">
                <h4>Do you enjoy celebrating holidays? Which ones are important to you?</h4>
                <p class="openended-p show-text"><%= person.holidays %></p>
            </div>
            <div class="openended-item">
                <h4>What did you do for your last Birthday?</h4>
                <p class="openended-p show-text"><%= person.lastBirthday %></p>
            </div>
            <div class="openended-item">
                <h4>What is a typical day off like for you?</h4>
                <p class="openended-p show-text"><%= person.dayOff %></p>
            </div>
            <div class="openended-item">
                <h4>What are 3 things you do to show yourself self love?</h4>
                <p class="openended-p show-text"><%= person.threeSelfLove %></p>
            </div>
            <div class="openended-item">
                <h4>What is your current mental health status?</h4>
                <p class="openended-p show-text"><%= person.mentalHealth %></p>
            </div>
            <div class="openended-item">
                <h4>Describe 3 main issues with your last relationship?</h4>
                <p class="openended-p show-text"><%= person.threePastRelationshipIssues %></p>
            </div>
            <div class="openended-item">
                <h4>Perfect date?</h4>
                <p class="openended-p show-text"><%= person.perfectDate %></p>
            </div>
            <div class="openended-item">
                <h4>What would a potential match do on the first date to make you want to see them again??</h4>
                <p class="openended-p show-text"><%= person.idealFirstDate %></p>
            </div>
            <div class="openended-item">
                <h4>Do you enjoy cooking?</h4>
                <p class="openended-p show-text"><%= person.cooking %></p>
            </div>
            <div class="openended-item">
                <h4>Describe your communication style. Are you a quick responder?</h4>
                <p class="openended-p show-text"><%= person.communicationStyle %></p>
            </div>
            <div class="openended-item">
                <h4>How reliable are you?</h4>
                <p class="openended-p show-text"><%= person.reliable %></p>
            </div>
            <div class="openended-item">
                <h4>Are you a planner or more of a fly by the seat of your pants person?</h4>
                <p class="openended-p show-text"><%= person.planner %></p>
            </div>
            <div class="openended-item">
                <h4>How important is hygiene/cleanliness?</h4>
                <p class="openended-p show-text"><%= person.hygiene %></p>
            </div>
            <div class="openended-item">
                <h4>What is a most frequented spot in Las Vegas?</h4>
                <p class="openended-p show-text"><%= person.frequentSpot %></p>
            </div>
            <div class="openended-item">
                <h4>If you could plan your future, where do you see yourself in 5 years?</h4>
                <p class="openended-p show-text"><%= person.fiveYearPlan %></p>
            </div>
            <div class="openended-item">
                <h4>Are you the more dominant or submissive partner in a relationship?</h4>
                <p class="openended-p show-text"><%= person.dominantSubmissive %></p>
            </div>
            <div class="openended-item">
                <h4>Are you an adventurer/risk taker? What is one of the most risky things you’ve done?</h4>
                <p class="openended-p show-text"><%= person.adventurer %></p>
            </div>
            <div class="openended-item">
                <h4>Are you into sports? Do you play? Favorite sport?</h4>
                <p class="openended-p show-text"><%= person.likeSports %></p>
            </div>
            <div class="openended-item">
                <h4>Something not many people know about you.</h4>
                <p class="openended-p show-text"><%= person.littleKnownFact %></p>
            </div>
            <div class="openended-item">
                <h4>Most prized possession/Who do you look up to?</h4>
                <p class="openended-p show-text"><%= person.prizedPossesion %></p>
            </div>
            <div class="openended-item">
                <h4>Most prized possession/Who do you look up to?</h4>
                <p class="openended-p show-text"><%= person.trulyValue %></p>
            </div>
            <div class="openended-item">
                <h4>What is your criminal history? Be Specific.</h4>
                <p class="openended-p show-text"><%= person.criminalHistory %></p>
            </div>
            <div class="openended-item">
                <h4>Anything else I should know about you or what you’re looking for in a partner?</h4>
                <p class="openended-p show-text"><%= person.extraInfo %></p>
            </div>
        </div>
    


</main>


<script src="/helpers.js"></script>
<%- include('../partials/footer') %>