<%- include('../partials/header') %>
<main >
    <%- include('../partials/flash') %>

    <h1><%= person.firstName %>'s Profile</h1>
    <div class="profile-container">
        <div class="profile-top">
            <div class="profile-pic">
                <img src="/images/default-profile.jpeg">
                <button id="profile-edit-btn">Edit Profile</button>
            </div>
            <div class="profile-overview">
                <h2>Overview</h2>
                <div class="profile-overview-text">
                    <p><span>Name:</span> <%= person.firstName %> <%= person.lastName %></p>
                    <p><span>Gender:</span> <%= person.gender %></p>
                    <p><span>Age:</span> <%= new Date().getFullYear() - person.birthday.getFullYear(); %></p>
                    <p><span>Seeking:</span> <%= person.seeking %> between <%= person.ageRange %></p>
                    <p><span>Ethnicity: </span><%= person.ethnicity %></p>
                    <p><span>Religion: </span><%= person.religion %></p>
                    <p><span>Politics: </span><%= person.politics %></p>
                    <p><span>Previously Married:</span> <%= person.prevMarried %></p>
                    <p><span>Has Children:</span> <%= person.children %></p>
                    <p><span>Wants Children: </span> <%= person.wantChildren %></p>
                    <p><span>Willing to be Step Parent: </span> <%= person.stepParent %></p>

                </div>
            </div>
        </div>
        <div class="profile-section">
            <h2>Recreation</h2>
            <div class="profile-section-text">
                <p><span>Hobbies: </span><%= person.hobbies1 %>, <%= person.hobbies2 %>, <%= person.hobbies3 %></p>
                <p><span>Marijuana Use: </span><%= person.marijuanaUse %></p>
                <p><span>Cigarette Use: </span><%= person.cigaretteUse %></p>
                <p><span>Alcohol Use: </span><%= person.alcoholUse %></p>
                <p><span>Exercise: </span><%= person.exercise %></p>
                <p><span>Outdoorsy: </span><%= person.outdoorsy %></p>
                <p><span>Bookworm: </span> <%= person.books %></p>
                <p><span>Gamer: </span> <%= person.gamer %></p>
            </div>
            
        </div>
        <div class="profile-section">
            <h2>Recreation</h2>
            <div class="personality-icons">
                <i class="tooltip fas fa-cannabis"><span class="tooltiptext"><%= person.marijuanaUse %></span></i>
                <i class="fas fa-beer"></i>
                <i class="fas fa-smoking"></i>
                
                <i class="fas fa-book"></i>
            </div>
            <h2>Children</h2>
            <div class="personality-icons">
                <i class="tooltip fas fa-baby"></i>

            </div>
        </div>
    </div>
</main>
<%- include('../partials/footer') %>